{% extends 'base.html' %}
{% block cabecalho %}

    <main class="container">
        <section class="hero">
            <h1>Contatos:</h1>
            
        </section>

        <section class="features">
            <div class="card">
                <h3>Telefone</h3>
                 <a href="#" class="btn btn-primary"><i class="fa-solid fa-mobile-screen-button"></i></a>
            </div>
            <div class="card">
                <h3>Email</h3>
                 <a href="#" class="btn btn-primary"><i class="fa-regular fa-envelope"></i></a>
            </div>
            <div class="card">
                <h3>Localização</h3>
                <a href="#" class="btn btn-primary"><i class="fa-solid fa-phone"></i></a>
            </div>
        </section>
    </main>
{% endblock %}
   